* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Instrument Sans", sans-serif;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #ffcc80 0%, #ffffff 20%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-div {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    position: relative;
    width: 45vw;
    padding: 8px 12px 12px 12px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #000;
    font-weight: lighter;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 12px;
    top: 2px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    transition: top 1.5s ease;
}

.navbar:has(a.active) .artemis {
    position: relative;
    top: 0px;
}

.navbar a.active:not(#artemisID) {
    color: #8A6EFF;
    position: relative;
    top: -2px;
}

.navbar .underline {
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 40px;
    height: 2px;
    background: #8A6EFF;
    transition: transform 1.5s ease;
    pointer-events: none;
}

.artemis {
    background: #9E87FF;
    color: white;
    border-radius: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    margin: -16px -24px;
}

.navbar a:last-child.active + .underline {
    display: none;
}

.navbar.glow {
    background: rgba(252, 206, 138, 0.7);
    box-shadow: 0px 4px 15px rgba(255,204,128,1);
    transition: all 0.3s ease;
}

.logo {
    width: 150px;
    height: 150px;
    margin-left: -20px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.footer-section {
    height: 500px;
    background-color: rgba(255,213, 143, 0.7);
    width: 100%;
    margin-top: 100px;
}

.hamburger-menu {
    display: none;
    font-size: 35px;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
    margin-bottom: 24px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: #818181;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 1s ease;
    z-index: 10001;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar a {
    padding: 20px 15px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar.active {
    width: 90%;
}

.bottom-content {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.bottom-content img {
    max-width: 200x;
    margin-bottom: -50px;
}

.bottom-content p {
    color: #818181;
    margin: 5px 0 0 0;
    font-size: 20px;
}

.content {
    margin-left: 200px;
    padding: 16px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh; 
    width: 80vw;
    margin-top: 0px;
}

.hero-images {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left-image {
    width: 71.25%;
    height: 61.5vh;
    background: #d9d9d9;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    border-radius: 10px;
    border: none;
}

.hero-right-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 61.5vh;
    width: 21.25%;
    gap: 3%;
}

.hero-right-small {
    width: 100%;
    height: 18%;
    background: #d9d9d9;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: auto;
    flex-direction: column;
    text-align: center;
}

.hero-text-heading {
    font-size: 64px;
    font-family: "Instrument Serif", sans-serif;
    color: #403219;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -2.5px;
}

.hero-text-heading span {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -2.5px;
}

.hero-text-para {
    width: 70%;
    text-align: center;
    font-family: "Instrument Sans", sans-serif;
    font-size: 18px;
    color: #403219;
    font-weight: 350;
}

.our-story-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 120vh;
    flex-direction: column;
    gap: 3vh;
}

.our-story-heading {
    font-size: 64px;
    color: #8A6EFF;
    font-family: "Instrument Serif", sans-serif;
    font-style: italic;
    text-align: center;
}

.our-story-heading span {
    color: #ffcc80;
}

.our-story-part-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45%;
    gap: 5%;
}

.our-story-part-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45%;
    gap: 10%;
}

.our-story-image {
    height: 90%;
    width: 50%;
}

.our-story-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 90%;
    width: 45%;
    gap: 5%;
}

.our-story-para {
    font-size: 20px;
    font-family: "Instrument Sans", sans-serif;
    color: #403219;
    font-weight: 350;   
}

.follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.follow-us-button {
    font-family: "Instrument Sans", sans-serif;
    color: #ffcc80;
    background: #8A6EFF;
    padding: 10px 32px;
    border-radius: 24px;
    font-size: 18px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.follow-us-button:hover {
    color: #8A6EFF;
    background: #ffcc80;
}

.our-story-para-2 {
    font-size: 20px;
    font-family: "Instrument Sans", sans-serif;
    color: #403219;
    font-weight: 350;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 90%;
    flex-direction: column;
}

.life-at-ed2-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 80vw;
    gap:5vh;
}

.life-at-ed2-heading {
    font-size: 64px;
    color: #8A6EFF;
    font-family: "Instrument Serif", sans-serif;
    font-style: italic;
    font-weight: 350;
    text-align: center;
}

.life-at-ed2-heading span {
    color: #ffcc80;
}

.life-at-ed2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: auto;
    gap: 5%;
}

.life-at-ed2-text {
    width: 45%;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 350;
    font-size: 18px;
    color: #403219;
}

.life-at-ed2-image {
    height: 40vh;
    width: 50%;
}

.lets-connect-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 80vw;
}

.lets-connect-button {
    font-family: "Instrument Sans", sans-serif;
    color: #ffcc80;
    background: #8A6EFF;
    font-size: 20px;
    padding: 10px 32px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 10px;
}

.lets-connect-button:hover {
    color: #8A6EFF;
    background: #ffcc80;
}

.container {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 20px;
}

.stat-block {
    position: absolute;
    background-color: rgba(255,204,108,0.2);
    border: 2px solid #ffcc80;
    border-radius: 8px;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.1);
    font-family: "Instrument Sans", sans-serif;
    font-size: 20px;
    color: #000;
}

.stat-value {
    font-size: 40px;
    font-weight: bold;
    color: #ffb335;
}

.stat-label {
    font-size: 14px;
}

#block1 {
    top: 55%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#block2 {
    top: 27.5%;
    left: 26%;
    transform: translate(-50%, -50%);
}

#block3 {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#block4 {
    top: 27.5%;
    left: 74%;
    transform: translate(-50%, -50%);
}

#block5 {
    top: 55%;
    left: 90%;
    transform: translate(-50%, -50%);
}

/* Center text */
.center-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Instrument Serif", sans-serif;
    font-style: italic;
    font-size: 38px;
    color: #403219;
    width: 100%;
}
.center-text span {
    font-weight: 600;
    font-family: "Instrument Sans", sans-serif;
    font-style: normal;
}

.lets-connect-section-mobile {
    display: none;
}
@media screen and (max-width: 1024px) {
    .hamburger-menu {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    body {
        background: linear-gradient(to bottom, #ffcc80 0%, white 10%);
    }
}
@media (max-width: 1024px) {

    body {
        background: linear-gradient(to bottom, #ffcc80 0%, white 10%);
    }
    .navbar {
        display: none; /* Hide navbar */
    }

    .hamburger-menu {
        display: flex; /* Show hamburger menu */
    }

    .container {
        height: 50vh;
    }

    #block1 {
        top: 45%;
        left: 6%;
    }

    #block2, #block4 {
        top: 30%;
    }

    #block2 {
        left: 25%
    }

    #block4 {
        left:75%
    }

    #block5 {
        top: 45%;
        left: 95%;
    }

    .lets-connect-section {
        margin-bottom: -15vh;
    }

    .our-story-section {
        margin-bottom: -5vh;
    }
}

@media (max-width: 800px) {

    .our-story-section {
        height: 170vh;
        margin: 0;
    }
    .our-story-part-1, .our-story-part-2 {
        flex-direction: column;
        width: 100vw;
    }

    .our-story-image {
        width: 80%;
    }

    .our-story-text {
        width: 80%;
        height: auto;
        gap: 5vh;
    }

    .our-story-para {
        text-align: center;
    }

    .our-story-para-2 {
        text-align: center;
        width: 80%; 
        height: auto;
    }

    .life-at-ed2-section {
        height: auto;
        margin-top: 100px;
        gap: 1vh;
    }

    .life-at-ed2-bottom {
        flex-direction: column;
        width: 80vw;
        gap: 5vh;
    }

    .life-at-ed2-image {
        width: 100%;
    }
    
    .life-at-ed2-text {
        width: 100%;
        text-align: center;
    }

    .hero-section {
        height: 100vh;
        width: 80vw;
    }

    .hero-text-heading {
        font-size: 44px;
    }

    .hero-text-para {
        width: 80vw;
        text-align: center;
    }

    .hero-images {
        flex-direction: column;
        gap: 2vh;
    }

    .hero-right-images {
        flex-direction: row;
        width: 80vw;
        height: 14vh;
    }

    .hero-left-image {
        width: 80vw;
        height: 50vh;
    }

    .hero-right-small {
        height: 100%;
        width: 18%;
    }

    .lets-connect-section {
        display: none;
    }

    .lets-connect-section-mobile {
        height: auto;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
        margin-top: 0;
    }

    .stat-block, .center-text {
        position: static;
    }

    .stat-block {
        width: 60vw;
        align-self: center;
        justify-self: center;
    }

    .center-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        justify-self: center;
    }

    .lets-connect-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.2vh;
    }

    .lets-connect-heading {
        font-size: 32px;
        font-style: italic;
        font-family: "Instrument Serif",sans-serif;
        color: #403219;
        width: 80vw;
        text-align: center;
        font-weight: 350;
    }

    .lets-connect-heading span {
        font-style: normal;
        font-family: "Instrument Sans", sans-serif;
        font-weight: 600;
    }
}